
  body,
  html {
    width: 100%;
    height: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  li {
    color: #4BB372;
    margin-left: 200px;
  }
  
  h1, p {
    color:#FFA39E;
    margin-left: 200px;
    font-family: fantasy;
  }
  
  button {
    color: #fff; 
    background: #4BB372;
    padding: 5px;
    border-radius: 5px;
  }
  
  input {
    border-radius: 5px;
    padding: 10px;
    margin-left: 200px;
  }
  
  .testingIt {
    text-decoration-line: line-through;
  }
  
  .deleteButton {
    background-color: #FFA39E;
    color: #fff;
    border-radius: 30px
    margin: 20px;
  }
  
  .done {
    text-decoration: line-through #BD1B13;
  }
  